<h1 class="page-header">Detalhes da Tarefa: {{ task.title }}</h1>

<form [formGroup]="reactiveTaskForm">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="control-label">Título</label>
      <input type="text" formControlName="title" class="form-control" id="title">
    </div>
    <div class="form-group col-md-3">
      <label for="deadline" class="control-label">Prazo de Entrega</label>
      <input type="text" formControlName="deadline" class="form-control" id="deadline">
    </div>
    <div class="form-group col-md-3">
      <label for="done" class="control-label">Situação</label>
      <select class="form-control" id="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição</label>
      <textarea formControlName="description" class="form-control" rows="4" id="description"></textarea>
    </div>
  </div>
</form>

<!-- <form #taskForm="ngForm" (ngSubmit)="updateTask()">
  <div class="row">
    <div class="form-group col-md-6" [class.has-error]="showFieldError(title)" [class.has-success]="title.valid">
      <label for="title" class="control-label">Título</label>
      <input #title="ngModel" type="text" [(ngModel)]="task.title" class="form-control" id="title" name="title" required minlength="2" maxlength="255">
      <div *ngIf="showFieldError(title)" class="text-danger">
        <div *ngIf="title.errors.required">o título é obrigatório</div>
        <div *ngIf="title.errors.minlength">o título deve ter no mínimo 2 caracteres</div>
        <div *ngIf="title.errors.maxlength">o título deve ter no máximo 255 caracteres</div>
      </div>
    </div>
    <div class="form-group col-md-3 has-feedback" [class.has-error]="showFieldError(deadline)" [class.has-success]="deadline.valid">
      <label for="deadline" class="control-label">Prazo de Entrega</label>
      <input #deadline="ngModel" type="text" [(ngModel)]="task.deadline" class="form-control" id="deadline" name="deadline" required>
      <div *ngIf="showFieldError(deadline)" class="text-danger">prazo é obrigatório</div>
    </div>

    <div class="form-group col-md-3 has-feedback" [class.has-error]="showFieldError(done)" [class.has-success]="done.valid">
      <label for="done" class="control-label">Situação</label>
      <select #done="ngModel" type="text" [(ngModel)]="task.done" class="form-control" id="done" name="done" required>
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <div *ngIf="showFieldError(done)" class="text-danger">situação é obrigatório</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição detalhada</label>
      <textarea [(ngModel)]="task.description" class="form-control" id="description" name="description" rows="4"></textarea>
    </div>
  </div>

  <button [disabled]="taskForm.invalid" type="submit" class="btn btn-success">Salvar</button>
  <button class="btn btn-default" (click)="goBack()">Voltar</button>

  <br><br>

  <pre>{{ task | json }}</pre>
</form> -->
