<h1 class="page-header">Faça o seu cadastro</h1>

<div class="jumbotron">
  <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="signUpUser()">
    <div class="form-group">
      <label for="name" class="col-sm-4 control-label">Nome</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <label for="senha" class="col-sm-4 control-label">Senha</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="senha" formControlName="password">
      </div>
    </div>
    <div class="form-group">
      <label for="password_confirmation" class="col-sm-4 control-label">Confirmção de senha</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password_confirmation" formControlName="passwordConfirmation">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Criar conta</button>
      </div>
    </div>
  </form>
</div>
